# Dependencies
node_modules
**/node_modules

# Build outputs
dist
build
out
.next
.turbo
coverage
.output
.tanstack

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Environment files
.env
.env.*
!.env.example

# IDE / editor
.vscode

# Misc
tmp
temp
*.cache