@import "@namera-ai/ui/globals.css";
@import "fumadocs-ui/css/shadcn.css";
@import "streamdown/styles.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";
@import "katex/dist/katex.css";
@import "lenis/dist/lenis.css";
@source "../node_modules/streamdown/dist/*.js";
@source "../node_modules/@streamdown/code/dist/*.js";

pre:has(.line.focused) .line {
  opacity: 0.45;
  transition: opacity 0.2s ease;
}

pre:has(.line.focused) .line.focused {
  opacity: 1;
}

pre:has(.line.focused):hover .line {
  opacity: 1;
}

pre code .twoslash-hover {
  text-decoration: underline dotted transparent;
  text-underline-offset: 3px;
  transition: text-decoration-color 0.2s ease;
}

/* Activate on hover */
pre:hover code .twoslash-hover {
  text-decoration-color: rgba(255, 255, 255, 0.4);
  cursor: help;
}

.bg-fd-secondary {
  background-color: #171718;
}
