@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@source "../../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

@font-face {
  font-family: "Helvetica Now Text";
  src: url("/fonts/HelveticaNowText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("/fonts/HelveticaNowText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("/fonts/HelveticaNowText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #12121c;
  --foreground: #fafafa;

  --card: #161622;
  --card-foreground: #fafafa;

  --popover: #14141f;
  --popover-foreground: #fafafa;

  --primary: #7e88f6;
  --primary-foreground: #ffffff;

  --secondary: #21212c;
  --secondary-foreground: #e3e3e8;

  --muted: #1c1c26;
  --muted-foreground: #a1a1aa;

  --accent: #1c1f40;
  --accent-foreground: #c9d3ee;

  --destructive: #a52727;
  --destructive-foreground: #ffffff;

  --border: #292e3d;
  --input: #161722;
  --ring: #7e88f6;

  --chart-1: #7e88f6;
  --chart-2: #8866cc;
  --chart-3: #42a5d7;
  --chart-4: #b675d7;
  --chart-5: #6791e4;
  --sidebar: #0d0d16;

  --sidebar-foreground: #c7c7d1;
  --sidebar-primary: #7e88f6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #1a1a23;
  --sidebar-accent-foreground: #cfd3fc;
  --sidebar-border: #1f222e;
  --sidebar-ring: #7e88f6;

  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 24px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 10px 24px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 10px 24px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 10px 24px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 10px 24px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 10px 24px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 10px 24px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 10px 24px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 10px 24px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --font-helveticaDisplay:
    "Helvetica Now Display", "ui-sans-serif", "system-ui", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  /* Neutrl Colors */
  --color-neutral-50: #eaecf1;
  --color-neutral-100: #b8bfd1;
  --color-neutral-200: #939db8;
  --color-neutral-300: #646e87;
  --color-neutral-400: #4e576e;
  --color-neutral-500: #3b4254;
  --color-neutral-600: #2f3647;
  --color-neutral-700: #293040;
  --color-neutral-800: #222838;
  --color-neutral-900: #121826;
}

@utility font-helvetica {
  font-family:
    "Helvetica Now Text", "ui-sans-serif", "system-ui", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  font-feature-settings:
    "ss04" on,
    "ss01" on,
    "ss03" on,
    "ss19" on;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    letter-spacing: var(--tracking-normal);
    @apply bg-background text-foreground font-helvetica;
  }
  html {
    @apply font-sans;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.root {
  isolation: isolate;
}

body {
  position: relative;
}

@utility cta-button {
  background: linear-gradient(353deg, #5b63d3 17.51%, #7c87f7 183.08%);
  border: 1px solid rgba(255, 255, 255, 0.14);
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.25) inset;
}

.heading-gradient {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  background: linear-gradient(162deg, #fff 25.49%, #939db8 110.77%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.9));
}

.border-image-t {
  border-image-slice: 100% 0 0 0;
}

.border-separator-gradient {
  border: 1px solid rgba(114, 125, 161, 0.2);
  border-image: radial-gradient(rgba(114, 125, 161, 0.2), transparent);
  border-image-slice: 100% 0;
}
