@import "@namera-ai/ui/styles.css";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

button,
a {
  touch-action: manipulation;
}
